<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        throwExceptions="true"
        internalLogLevel="Trace"
        internalLogToConsole="true"
        internalLogToConsoleError="true">
    <targets>
      <default-target-parameters xsi:type="File" concurrentWrites="false" keepFileOpen="true" />
      <target name="InfoFile"
              xsi:type="File"
              lineEnding="LF"
              layout="[${longdate}] [${uppercase:${level:padding=-5}}] ${logger} - ${message}"
              fileName="${gdc:item=outputdir}/info.log"
              archiveNumbering="Rolling"
              archiveFileName="${gdc:item=outputdir}/info.{#}.log"
              archiveAboveSize="10485760"
              maxArchiveFiles="10"
              encoding="UTF-8" />
      <target name="SqlFile"
              xsi:type="File"
              lineEnding="LF"
              layout="[${longdate}] [${uppercase:${level:padding=-5}}] ${message}"
              fileName="${gdc:item=outputdir}/sql.log"
              archiveNumbering="Rolling"
              archiveFileName="${gdc:item=outputdir}/sql.{#}.log"
              archiveEvery="Day"
              archiveDateFormat="yyyyMMdd"
              maxArchiveFiles="10"
              encoding="UTF-8" />
    </targets>
    <rules>
      <logger name="SqlLogger" minlevel="Trace" writeTo="SqlFile" final="true" />
      <logger name="*" minlevel="Trace" writeTo="InfoFile" />
    </rules>
  </nlog>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>-->
</configuration>