<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <default-target-parameters xsi:type="File" keepFileOpen="true" concurrentWrites="false" openFileCacheTimeout="30" />
      <target name="InfoFile"
              xsi:type="File"
              lineEnding="LF"
              layout="[${longdate}] [${uppercase:${level:padding=-5}}] ${logger} - ${message}"
              fileName="${gdc:item=outputdir}/info.log"
              archiveNumbering="Rolling"
              archiveFileName="${gdc:item=outputdir}/info.{#}.log"
              archiveAboveSize="10485760"
              maxArchiveFiles="5"
              encoding="UTF-8" />
      <target name="SqlFile"
              xsi:type="File"
              lineEnding="LF"
              layout="[${longdate}] [${uppercase:${level:padding=-5}}] ${message}"
              fileName="${gdc:item=outputdir}/sql.log"
              archiveNumbering="Rolling"
              archiveFileName="${gdc:item=outputdir}/sql.{#}.log"
              archiveEvery="Day"
              archiveDateFormat="yyyyMMdd"
              maxArchiveFiles="5"
              encoding="UTF-8" />
    </targets>
    <rules>
      <logger name="SqlLogger" minlevel="Trace" writeTo="SqlFile" final="true" />
      <logger name="*" minlevel="Trace" writeTo="InfoFile" />
    </rules>
  </nlog>
</configuration>