<div class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            @Html.ActionLink("アプリケーション名", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("テスト", "Index", "Test")</li>
            <li>@Html.ActionLink("入力検証テスト", "Index", "ValidationTest")</li>
            <li>
                <a href="@Url.Action("Logout", "Login")"><span class="glyphicon glyphicon-log-out"> ログアウト</span></a>
                @*@Html.ActionLink("ログアウト", "Logout", "Login")*@
            </li>
        </ul>
    </div>
</div>